<div class="container mt-3">
  <div class="card shadow p-4">

    <h3>Hospital Details</h3>

    <p><strong>Email:</strong> <%= current_user.email %></p>
    <p><strong>Phone:</strong> <%= current_user.phone %></p>
    <p><strong>City:</strong> <%= current_user.city %></p>

  </div>
</div>